<div class="container">

    <form method="post" action="/user/category/store">

        <label for="name">Nome da Categoria: </label>
        <input type="text" name="name">
        <input type="hidden" name="user" value="{{id}}">

        <button class="main-btn store-btn" type="submit">Enviar</button>
    </form>

</div>
