<h3>Atualizar categoria</h3>

<form method="post" action="/user/category/update">

    <label for="name">Nome da Categoria: </label>
    <input type="text" name="name">
    <input type="hidden" name="id" value="{{id}}">

    <button type="submit">Enviar</button>
</form>