<div class="container">
    <h1>Gerenciamento de gastos</h1>
    <img class="home-img" src="/images/home.png" alt="controle de gastos">
    <a href="/user/dashboard">
        <button class="main-btn">
            Usuários
        </button>
    </a>
</div>