<div class="container">

    <form action="/user/product/store" method="post">

        <label for="name">Produto: </label>
        <input type="text" name="name">

        <label for="price">Valor: </label>
        <input type="text" name="price">

        <input type="hidden" name="category" value="{{data.id}}">

        <button class="main-btn btn-2" type="submit">Enviar</button>

    </form>

    {{#each data.errors}}
        <div class="error-msg">{{text}}: Por favor preencha todos os campos</div>
    {{/each}}

</div>