<div class="container">

    <form action="/user/product/update" method="post">

        <label for="name">Produto: </label>
        <input type="text" name="name" value="{{data.name}}">

        <label for="price">Valor: </label>
        <input type="number" name="price" value="{{data.price}}">

        <input type="hidden" name="id" value="{{data.id}}">

        <button class="main-btn btn-3" type="submit">Atualizar</button>
   
    </form>

    {{#each data.errors}}
        <div class="error-msg">{{text}}: Por favor preencha todos os campos</div>
    {{/each}}

</div>
