<form action="/user/product/update" method="post">

    <label for="name">Produto: </label>
    <input type="text" name="name">

    <label for="price">Valor: </label>
    <input type="text" name="price">

    <input type="hidden" name="id" value="{{id}}">

    <button type="submit">Atualizar</button>

</form>