<div class="container">

    <form method="post" action="/user/store">
        <label for="name">Nome de Usuário: </label>
        <input type="text" name="name" placeholder="Digite seu nome aqui">

        <button class="main-btn" type="submit">Enviar</button>
    </form>
    
    {{#each errors}}
        <div class="error-msg">{{text}}: Por Favor preencha todos os campos</div>
    {{/each}}

</div>